*~
*.o
*.la
*.lo
.libs
.deps
INSTALL
ar-lib
compile
py-compile
Makefile
Makefile.in
aclocal.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
autom4te.cache/
bindings/Makefile
bindings/Makefile.in
bindings/csharp/.deps/
bindings/csharp/Makefile
bindings/csharp/Makefile.in
bindings/interfaces/Makefile
bindings/interfaces/Makefile.in
bindings/java/.deps/
bindings/java/Makefile
bindings/java/Makefile.in
bindings/perl/.deps/
bindings/perl/.libs/
bindings/perl/Makefile
bindings/perl/Makefile.in
bindings/perl/perl.lo
bindings/perl/rlib.la
bindings/php/.deps/
bindings/php/.libs/
bindings/php/Makefile
bindings/php/Makefile.in
bindings/php/array_data_source.lo
bindings/php/environment.lo
bindings/php/php.lo
bindings/php/rlib.la
bindings/python/.deps/
bindings/python/Makefile
bindings/python/Makefile.in
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/IMAGES/Makefile
doc/IMAGES/Makefile.in
doc/Makefile
doc/Makefile.in
doc/book.pdf
inputs/Makefile
inputs/Makefile.in
inputs/mysql/.deps/
inputs/mysql/.libs/
inputs/mysql/Makefile
inputs/mysql/Makefile.in
inputs/mysql/libr-mysql.la
inputs/mysql/mysql.lo
inputs/odbc/.deps/
inputs/odbc/.libs/
inputs/odbc/Makefile
inputs/odbc/Makefile.in
inputs/odbc/libr-odbc.la
inputs/odbc/odbc.lo
inputs/postgres/.deps/
inputs/postgres/.libs/
inputs/postgres/Makefile
inputs/postgres/Makefile.in
inputs/postgres/libr-postgres.la
inputs/postgres/postgres.lo
install-sh
libsrc/.deps/
libsrc/.libs/
libsrc/Makefile
libsrc/Makefile.in
libsrc/api.lo
libsrc/axis.lo
libsrc/barcode.lo
libsrc/breaks.lo
libsrc/charencoder.lo
libsrc/csv.lo
libsrc/csv_data_source.lo
libsrc/datasource.lo
libsrc/datetime.lo
libsrc/environment.lo
libsrc/formatstring.lo
libsrc/free.lo
libsrc/fxp.lo
libsrc/gantt.lo
libsrc/gd.lo
libsrc/gdFontMedium.lo
libsrc/graphing.lo
libsrc/html.lo
libsrc/layout.lo
libsrc/libr.la
libsrc/navigation.lo
libsrc/parsexml.lo
libsrc/pcode.lo
libsrc/pcode_op_functions.lo
libsrc/pdf.lo
libsrc/ralloc.lo
libsrc/reportgen.lo
libsrc/resolution.lo
libsrc/rlib_langinfo.lo
libsrc/txt.lo
libsrc/util.lo
libsrc/value.lo
libsrc/variables.lo
libsrc/xml.lo
libsrc/xml_data_source.lo
libtool
ltmain.sh
ltmain.sh.bak
missing
rlib.pc
rlib.spec
rpdf/.deps/
rpdf/.libs/
rpdf/Makefile
rpdf/Makefile.in
rpdf/librpdf.la
rpdf/rpdf.lo
rpdf/test
rpdf/test.o
src/.deps/
src/Makefile
src/Makefile.in
src/examples/Makefile
src/examples/Makefile.in
src/examples/c/.deps/
src/examples/c/Makefile
src/examples/c/Makefile.in
src/examples/c/example
src/examples/c/example.o
src/examples/c/products.xml
src/examples/common/Makefile
src/examples/common/Makefile.in
src/examples/csharp/Makefile
src/examples/csharp/Makefile.in
src/examples/java/Makefile
src/examples/java/Makefile.in
src/examples/java/*.java
src/examples/java/*.xml
src/examples/perl/Makefile
src/examples/perl/Makefile.in
src/examples/perl/products.xml
src/examples/php/Makefile
src/examples/php/Makefile.in
src/examples/php/*.xml
src/examples/php/core.12441
src/examples/php/core.12466
src/examples/python/Makefile
src/examples/python/Makefile.in
src/examples/python/*.xml
src/rlibc
src/rlibc.o
stamp-h1
tests/.deps/
tests/Makefile
tests/Makefile.in
tests/test1
tests/test1.o
tests/test2
tests/test2.o
tests/test3
tests/test3.o

src/examples/java/*.class
src/examples/java/*.stamp
